<!DOCTYPE html>

<html>
    <head> 
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Terminate Ec2 Instance</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
                font-family: 'Roboto', sans-serif;
                background-color:black;
                color:white;
                text-align:center;
              }
             input {
                font-size: 1rem;
                outline: none;
                border: 1px solid black;
                border-radius: 5px;  
                padding: 0.3rem 0.4rem;
            }
        </style>  
    </head>
    <body>
      <h1>Terminate Your EC2 Instance </h1>
        <form action="/terminatedEC2/" method="post">
            <label><b>Enter Your Instance Id :</b></label> <br><br>
               <input type="text" id="terminate_id" name="terminate_id" /> <br><br>
               <input type="submit" value="submit"/>
        </form>
    </body>
</html>